.igm-group {
    padding: 1em;
    border-radius:5px;
    margin: 1em;
}

.igm-group-1 {
    background-color: #ffffff;
}


.igm-group-2 {
    background-color: #e1e8d9;
}


.igm-group-3 {
    background-color: #eeeeee;

}


.igm-group-4 {
    background-color: #dddfec;
}